extends layout

block content
	h1= title
	h2.title List of Interships
	hr
	nav.box-1
		a(href='/newinternship')
			span.glyphicon.glyphicon-plus
			| New


	table.table.table-striped.table-hover.box-1
		tr
			th
				| Name
			th
				| Deadline
			th
				Date Added
		each value, key in internships
			tr
				td
					a(href='/viewinternship?id=#{key}') #{value.name} 
				td
					| #{value.deadline}
				td
					| #{value.added}