extends layout

block content
	h1= title
	hr
	<a href="/newinternship"> New Internship </a>
	h2 List of Interships

	table.table-striped
		each internship in internships
			tr
				td
					p <b> Name: </b> #{internship.name} <br /> <b> Added on: </b> #{internship.added}
					ul
						li <b> Discipline: </b> #{internship.discipline}
						li <b> Institution: </b> #{internship.institution}
						li <b> City: </b> #{internship.city}
						li <b> State: </b> #{internship.state}
						li <b> Country: </b> #{internship.country}
						li <b> Description: </b> #{internship.description}
						li <b> Website: </b> #{internship.website}
						li <b> Duration: </b> #{internship.duration}
						li <b> Salary: </b> #{internship.salary}
						li <b> Courses: </b> #{internship.courses}
						li <b> Housing: </b> #{internship.housing}
						li <b> Transportation: </b> #{internship.transportation}
						li <b> Citizenship: </b> #{internship.citizenship}
						li <b> Minority: </b> #{internship.minority}
						li <b> Classification: </b> #{internship.classification}
						li <b> GPA: </b> #{internship.gpa}
						li <b> Personal Statement: </b> #{internship.statement}
						li <b> Recommendation: </b> #{internship.recommendation}
						li <b> Transcript: </b> #{internship.transcript}
						li <b> Deadline: </b> #{internship.deadline}
						li <b> Submission: </b> #{internship.submision}





